# file types
*.docx
*.nc

# random folders
.ipynb_checkpoints/
__pycache__/
env/

# large input files
generators-p_max_pu.csv

# renewables ninja stuff can go
renewables_ninja_API.py
renewables_ninja_data_analysis.py
