# Sphinx documentation build requirements
sphinx>=7.0
sphinx_rtd_theme>=2.0
pydata-sphinx-theme>=0.15.4,<0.17
myst-parser>=2.0
sphinx-copybutton
sphinx-design
sphinxcontrib-mermaid
nbsphinx
docutils<0.21
nbsphinx-link
ipykernel
nbconvert>=7.0
nbformat>=5.0
nbclient>=0.5
pandoc

# For autodoc (minimal dependencies to document scripts)
pandas
numpy
pypsa
pyyaml
